/* Profil Page Style */
/* Hero Section */
.hero.armada {
    background: url('../../assets/armada-bg-hero.jpeg') no-repeat fixed center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Armada Section */
.armada-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.armada-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.armada-container h2 {
    font-size: 2.5rem;
    color: #ff7c43;
    margin-bottom: 40px;
}

.armada-wrapper {
    display: grid;
    gap: 30px;
}

.armada-card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    align-items: center;
}

.armada-card:hover {
    transform: translateY(-10px);
}

.slider-wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 32rem;
}

.slider {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
    cursor: grab;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.armada-info {
    text-align: left;
}

.armada-info h3 {
    font-size: 2rem;
    color: #ff7c43;
    margin-bottom: 15px;
}

.armada-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .armada-card {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .slider-wrapper {
        max-width: 24rem;
    }

    .armada-info {
        padding: 0;
    }
}