<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="https://gerrymoeis.github.io/kanGen-wisata-tour/"><img src="https://gerrymoeis.github.io/kanGen-wisata-tour/assets/logo.png" /></a>
        </div>

        <ul class="nav-links">
            <li><a id="profil" href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/profil/profil.html">Profil</a></li>
            <li><a id="wisata" href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/wisata/wisata.html">Wisata</a></li>
            <li><a id="armada" href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/armada/armada.html">Armada</a></li>
            <li><a id="galeri" href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/galeri/galeri.html">Galeri</a></li>
            <li><a id="reservasi" href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/reservasi/reservasi.html">Reservasi</a></li>
            
            <div id="mobile" class="cta">
                <a href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/reservasi/reservasi.html" class="btn">Reservasi Sekarang</a>
            </div>
        </ul>

        <div id="main" class="cta">
            <a href="https://gerrymoeis.github.io/kanGen-wisata-tour/pages/reservasi/reservasi.html" class="btn">Reservasi Sekarang</a>
        </div>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</body>
</html>