/* Wisata Page Style */
/* Hero Section */
.hero.wisata {
    background: url('../../assets/wisata-bg-hero.jpeg') no-repeat fixed bottom/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Tour Section */
.tour-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.tour-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.tour-container h2 {
    font-size: 2.5rem;
    color: #ff7c43;
    margin-bottom: 40px;
}

.tour-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.tour-card:hover {
    transform: translateY(-10px);
}

.tour-card img {
    align-self: center;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    max-height: 400px;
    min-height: 275px;
}

.tour-info {
    display: grid;
    align-content: space-between;
    text-align: left;
    padding: 0 20px;
    flex-grow: 1;
}

.tour-info h3 {
    font-size: 2rem;
    color: #ff7c43;
}

.tour-info p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.btn-cta {
    background-color: #ff7c43;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cta:hover {
    background-color: #e56b39;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .tour-card {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tour-card img {
        margin-bottom: 20px;
    }

    .tour-info {
        padding: 0;
    }

    .tour-info h3 {
        margin-bottom: 20px;
    }

    .tour-info p {
        margin-bottom: 10px;
    }
}