<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html"><img src="../../assets/logo.png" /></a>
        </div>

        <ul class="nav-links">
            <li><a href="index.html">Profil</a></li>
            <li><a href="wisata.html">Wisata</a></li>
            <li><a href="armada.html">Armada</a></li>
            <li><a href="galeri.html">Galeri</a></li>
            <li><a href="reservasi.html">Reservasi</a></li>
            
            <div id="mobile" class="cta">
                <a href="reservasi.html" class="btn">Reservasi Sekarang</a>
            </div>
        </ul>

        <div id="main" class="cta">
            <a href="reservasi.html" class="btn">Reservasi Sekarang</a>
        </div>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

    <script src="navbar.js"></script>
</body>
</html>